.logo, h1.logo {
    width: 208px;
    height: 48px;
    font-size: 1.2em;
    font-weight: 500;
    color: black;
    letter-spacing: normal;
}

h1.logo a {
    color: black;
}

.logo span, a.logo span {
    color: #5ab030;
}